.movie {
    background: #222222;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 364px;
    height: 271px;
}

.movie__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie__header {
    display: inline-block;
    flex-direction: row;
    margin: 0;
    margin-left: 13px;
}

.movie__title {
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie__duration {
    margin-top: 9px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;

}

.movie__container {
    width: 100%;
}

.movie__image {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    object-fit: fill;
}

.movie__button {
    background-image: url(../../images/stroke.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #313131;
    border: 0;
    border-radius: 36px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 19px 14px;
}

.movie__button_saved {
    background-color: #3DDC84;
}

.movie__button_delete {
    background-image: url(../../images/delete_card.png);
    background-color: #313131;
}
@media (min-width: 768px) and (max-width: 1279px) {
    .movie {
        margin: 0;
        width: 339px;
        height: 258px;
    }
    .movie__header {
        margin: 0 0 0 13px;
    }
}

@media (max-width: 320px) and (max-width: 768px) {
    .movie {
        margin: 0;
        width: 300px;
        height: 236px;

    }
}
