.movies {
    box-sizing: border-box;
    max-width: 1140px;
    width: calc(100% - 140px);
    margin: 0 auto;
    padding: 0;

}
@media (min-width: 768px) and (max-width: 1279px) {
    .movies {
        width: calc(100% - 59px);
    }
}

@media (max-width: 320px) and (max-width: 768px) {
    .movies {
        width: calc(100% - 29px);
    }
}
