.button-more {
    width: 320px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background-color: inherit;
    border: 1px solid #424242;
    color: white;
    margin: 50px auto 80px;
    border-radius: 5px;
}

.button__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

@media (max-width: 320px) and (max-width: 768px) {
    .button-more {
        width: 240px;
        margin: 50px auto;
    }
}


