.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__links {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.nav__links-item {
    padding: 0;
    margin-left: 20px;
}

.nav__link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

.nav__link:hover {
    opacity: 0.8;
}

.nav__link_saved-movies {
    font-weight: 400;
}

.nav__link_profile {
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    padding-right: 32px;
    padding-left: 61px;
    position: relative;
}

.nav__link_profile::after {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
    border-radius: 50px;
    content: url(../../images/user.svg);
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 26px;
    height: 30px;
}

@media screen and (max-width: 1000px) {

    .nav {
        display:none;
        height: 1px;
        width: 1px;
        visibility: hidden;
    }



}


