.search-form {
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.search__input {
    box-sizing: border-box;
    color: white;
    padding: 0;
    background-color: #202020;
    box-shadow: none;
    height: 72px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    min-width: 1140px;
    outline: none;
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
}

::placeholder {
    padding-left: 25px;
    color: #8B8B8B;
}

.search__input:focus {
    border: 1px solid green;
}

.search__button {
    width: 100px;
    height: 52px;
    border: none;
    position: absolute;
    right: 9px;
    top: 10px;
    background-color: #4285F4;
    border-radius: 5px;
    cursor: pointer;
}
